body {
  margin: 0;
  .auth_area {
    width: 100%;
    height: 100%;
    background-color: rgb(231, 241, 241);
    padding-top: 5%;
    padding-bottom: 35%;
    .box {
      padding: 32px;
      width: calc(45% - 64px);
      max-width: 640px;
      border-radius: 8px;
      background-color: #fff;
      margin: 0 auto;
      .form_wrap {
        ._title {
          display: block;
          text-align: center;
          margin-bottom: 32px;
        }
        .field_wrap {
          width: 70%;
          margin: 0 auto 16px;
          label {
            margin-bottom: 4px !important;
          }
          input {
            height: 24px;
            padding: 8px;
            width: calc(100% - 16px);
            background-color: #fff !important;
          }
        }

        .button_wrap {
          text-align: center;
          input {
            cursor: pointer;
            width: 40%;
            padding: 8px;
          }
          padding-bottom: 10px;
        }

        .event_wrap {
          text-align: center;
          padding: 8px;
        }
      }

      .button_to {
        text-align: center;
        padding-bottom: 10px;
        button {
          cursor: pointer;
          width: 40%;
          padding: 8px;
        }
      }
    }
    .link_wrap {
      text-align: center;
      a {
        bottom: 10px;
      }
    }
  }
  display: flex;
  .header_area {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: azure;
    position: fixed;
    .left {
      width: 25%;
      height: 100%;
      align-items: center;
      display: flex;
      color: rgb(98, 164, 235);
      padding-left: 20px;
    }
    .main {
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      .search {
        width: 90%;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        height: 40px;
        border: none;
        background-color: aliceblue;
        padding-left: 10px;
        align-items: center;
        display: flex;
        &:before {
          background-image: url("icons8-search.svg");
          background-size: 30px 30px;
          display: inline-block;
          width: 30px;
          height: 30px;
          content: "";
          position: absolute;
        }
        input {
          width: 85%;
          border-top-right-radius: 50px;
          border-top-left-radius: 50px;
          border-bottom-right-radius: 50px;
          border-bottom-left-radius: 50px;
          height: 40px;
          border: none;
          background-color: aliceblue;
          margin-left: 10%;
          outline: none;
        }
      }
    }
    .right {
      width: 25%;
      height: 100%;
      padding-right: 10px;
      justify-content: end;
      align-items: center;
      display: flex;
      .item {
        border-radius: 50%;
        background-color: antiquewhite;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }
  }
  .content_area {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    background-color: aliceblue;
    .left {
      position: fixed;
      width: 25%;
      padding-top: 10px;
      .item {
        border-radius: 6px;
        cursor: pointer;
        padding-left: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        &:hover {
          background-color: rgba(110, 129, 144, 0.706);
        }
        img {
          width: 25px;
          height: 25px;
        }
        div {
          margin-left: 10px;
          margin-top: 5px;
        }
      }
      .line {
        display: flex;
        width: 90%;
        height: 1px;
        background-color: rgba(153, 146, 146, 0.696);
      }
    }
    .main {
      margin-left: 25%;
      width: 50%;
      padding-top: 10px;
      .create_post {
        border-radius: 6px;
        background-color: #fff;
        width: 100%;
        padding-bottom: 10px;
        .input {
          margin-top: 10px;
          display: flex;
          align-items: center;
          padding-right: 10px;
          padding-left: 10px;
          padding-top: 10px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 10px;
            flex: 1;
          }
          input {
            flex: 9999;
            height: 40px;
            border: none;
            background-color: aliceblue;
            padding-left: 10px;
            align-items: center;
            width: 95%;
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 50px;
            height: 40px;
            border: none;
            background-color: aliceblue;
            outline: none;
            margin-left: 10px;
            cursor: pointer;
          }
          .line {
            display: flex;
            width: 96%;
            height: 1px;
            background-color: rgba(153, 146, 146, 0.696);
            padding-top: 0;
          }
        }
        .tool {
          display: flex;
          justify-content: space-between;
          .item {
            cursor: pointer;
            width: 25%;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            &:hover {
              background-color: aliceblue;
            }
            div {
              padding-top: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
      .modal_mode {
        .radio_btn_wrap {
          border-radius: 6px;
          display: flex;
          align-items: center;
          cursor: pointer;
          height: 50px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          &:hover {
            background-color: aliceblue;
          }
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          .item {
            margin-left: 10px;
            width: 80%;
            height: 40px;
            display: flex;
            align-items: center;
            div {
              width: 1000%;
            }
          }
          input {
            flex: 1;
          }
        }
        .button_wrap {
          display: flex;
          justify-content: end;
          align-items: center;
          padding-top: 10px;
          button {
            cursor: pointer;
            border-radius: 6px;
          }
          .cancel {
            margin-right: 10px;
            width: 40px;
            height: 30px;
            background-color: #fff;
            color: #1B74E4;
            border: none;
            &:hover {
              background-color: aliceblue;
            }
          }
          .mode_seleted {
            margin-right: 10px;
            width: 80px;
            height: 30px;
            background-color: #1B74E4;
            color: #fff;
          }
        }
      }
      .modal_create_post {
        .auth {
          .user_name {
            button {
              width: 80px;
              height: 40px;
              cursor: pointer;
              &::after {
                content: "";
                width: 30px;
                height: 30px;
                background-image: url("setting-svgrepo-com.svg");
                top: 10px;
                right: 5px;
                position: absolute;
                display: inline-block;
              }
            }
          }
        }
      }
      .post_item {
        border-radius: 6px;
        background-color: #fff;
        width: 100%;
        padding-bottom: 10px;
        margin-top: 10px;
        div {
          padding-left: 10px;
          align-items: center;
        }
        .title {
          padding-top: 10px;
          display: flex;
          .avatar {
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
          .auth {
            width: auto;
            .user_name {
              margin-top: 0;
              margin-bottom: 0;
              margin-left: 10px;
            }
            .regime {
              color: rgb(125, 147, 166);
            }
          }
          .tool {
            flex: 9999;
            display: flex;
            padding-right: 20px;
            justify-content: end;
            .item {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-left: 0;
              &:hover {
                background-color: aliceblue;
              }
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
            }
          }
        }
        .text {
          margin-top: 10px;
        }
        .content {
          margin-top: 10px;
          padding-left: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .view {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 10px;
          margin-bottom: 10px;
          .item {
            display: flex;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
        .line {
          display: flex;
          width: 95%;
          height: 1px;
          background-color: rgba(153, 146, 146, 0.696);
          margin-left: 10px;
          margin-bottom: 10px;
        }
        .tool {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 10px;
          margin-bottom: 10px;
          .item {
            display: flex;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    .right {
      position: fixed;
      margin-left: 75%;
      width: 25%;
      padding-top: 10px;
      z-index: 0;
      padding-left: 5%;
      .item {
        display: flex;
        padding-right: 20%;
        align-items: center;
        height: 50px;
        cursor: pointer;
        border-radius: 6px;
        padding-left: 10px;
        &:hover {
          background-color: rgba(110, 129, 144, 0.706);
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        div {
          padding-left: 20px;
        }
      }
      .line {
        display: flex;
        align-items: center;
        div {
          width: 40%;
          display: flex;
          justify-content: end;
          img {
            width: 30px;
            height: 30px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

.signDropdown {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translate(0px, 0px);
  top: 0;
  border-radius: 6px;
  padding: 10px;
}

.signDropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 6px;
  &:hover {
    background-color: aliceblue;
  }
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 6px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 6px;
  .modal_title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth {
    display: flex;
    align-items: center;
    .user_avatar {
      width: 10%;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    .user_name {
      width: 70%;
      .item {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
