<div class="header_area">
  <div class="left">
    <h1>Rails</h1>
  </div>
  <div class="main">
    <div class="search">
      <input placeholder="Tìm kiếm trên Rails"/>
    </div>
  </div>
  <div class="right">
    <div class="item">
      <%= image_tag("message-square-dots-svgrepo-com.svg") %>
    </div>
    <div class="item">
      <%= image_tag("bell-filled-svgrepo-com.svg") %>
    </div>
    <div class="item">
      <%= image_tag("avatar-svgrepo-com.svg", class: "sign")%>
    </div>
  </div>
</div>
